###############################################################################
#
# Generic SciFi temperature record
#
# Automatically instantiated from:
#     scifi_temperature.substitutions
# Authors: i.keshelashvili@gsi.de
#
###############################################################################

record(ai, "$(P):$(CHAMBER):SCIFI$(ID):SFP$(SFP):DEV$(DEV):$(SENSOR):TEMP")
{
    field(DESC, "$(CHAMBER) SciFi $(ID) SFP$(SFP) DEV$(DEV) $(SENSOR) temperature")
    field(EGU,  "degC")
    field(PREC, "1")

    field(LOPR, "-20")
    field(HOPR, "100")

    field(LOW,  "5")
    field(LOLO, "0")
    field(HIGH, "45")
    field(HIHI, "55")

    field(LSV,  "MINOR")
    field(LLSV, "MAJOR")
    field(HSV,  "MINOR")
    field(HHSV, "MAJOR")

    field(DTYP, "Soft Channel")
    field(SCAN, "Passive")
}

