###############################################################################
#
# Generic SciFi threshold record
#
# SciFi threshold template
#     scifi_threshold.substitutions
#
# Authors: i.keshelashvili@gsi.de
#
###############################################################################

record(waveform, "SFRS:$(CHAMBER):SCIFI$(ID):SFP$(SFP):DEV$(DEV):THRESHOLD")
{
    field(DESC, "$(CHAMBER) SciFi $(ID) 128-channel thresholds")

    # Unsigned 16-bit threshold register values
    field(FTVL, "USHORT")
    field(NELM, "128")

    # Temporary software waveform.
    # Replace DTYP and add the hardware link later.
    field(DTYP, "Soft Channel")

    # Thresholds are updated only when explicitly written or processed.
    field(SCAN, "Passive")

    # Optional: process once during IOC initialization.
    field(PINI, "YES")
}
alias("SFRS:$(CHAMBER):SCIFI$(ID):SFP$(SFP):DEV$(DEV):THRESHOLD", "SFRS:$(CHAMBER):SCIFI$(ID):SFP$(SFP):DEV$(DEV):THR")